.tube-logo {
    display: inline-block;
    height: 120px;
    width: auto;
    margin: auto;
}

.vue-logo {
    display: inline-block;
    height: 200px;
    width: auto;
    margin: auto;
    position: relative;
    left: 13rem;
}

.header {
    text-align: center;
    margin-right: 13rem;
}